@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');


html,
body, 
p,
h1,
h2,
h3,
h4,
h5,
div,
span,
ul,
li {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.landing-container {
  border: 1px solid red;
}

footer {
  font-family: 'Aboreto', cursive;
  font-weight: 700;
  font-size: 5rem;
  display: flex;
  text-align: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;

}